if BOARD_KC70_LEFT

config ZMK_KEYBOARD_NAME
    default "kc70"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if BOARD_KC70_LEFT || BOARD_KC70_RIGHT

config BOARD
    default "kc70"

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB

config BQ274XX
    default y

config ZMK_BATTERY_NRF_VDDH
    default y

endif
