if SHIELD_CORNE_CHOC_XIAO_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne-xiao"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNE_CHOC_XIAO_LEFT || SHIELD_CORNE_CHOC_XIAO_RIGHT

config ZMK_SPLIT
    default y

endif
